{% extends 'base.html' %}

{% block body %}
<div class="container mt-5">
    <h1 class="py-5 ">Разметка документа</h1>
    <div class="d-flex gap-5 align-items-start">
        <form action="/inference-template" enctype="multipart/form-data" class="px-5 py-4 border" name="form" method="post"
              style="width: 500px">
            <label class="h4 mb-3" for="fileInput">Выберите файлы</label>
            <input id="fileInput" name="files" class="form-control mb-3" type="file" multiple>
            <input class="btn btn-primary" type="submit">
        </form>
        <p class="h4">Классы, которые мы детектируем: QR-код, BAR-код, изображение, логотип, подпись, печать, таблица, графики</p>
    </div>
    {% if images %}
    <div class="p-5 d-flex gap-3 flex-wrap">
        {% for img in images %}
        <div class="d-flex align-items-start">
            <img class="ml-5" src="{{ img.link_to_processed_image }}" alt="">
            <div style="margin-top: 100px; padding-right: 200px" class="ml-3 card">
                <code style="white-space: pre-wrap" class="px-5 py-3 card-text">[{% for box in img.bboxes %}
    {
        "box_class": "{{ box.box_class}}",
        "conf": {{ "{:.02f}".format(box.conf) }},
        "x": {{ box.left_top[0] }},
        "y": {{ box.left_top[1] }},
        "width": {{ box.right_bottom[0] - box.left_top[0] }},
        "height": {{ box.right_bottom[1] - box.left_top[1] }}
    },{% endfor %}
]</code>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}